{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container py-5">
        <div class="d-flex align-items-end" style="flex-direction: column;">
            <h5 style="font-size: small;">Subtotal: <span id="subtotal">${{subtotal|floatformat:"0g"}}</span></h5>
            <h5 style="font-size: small;">Descuentos: <span id="discount">${{discount|floatformat:"0g"}}</span></h5>
            <h5 style="font-size: small;">Envio: <span id="price_sending">${{price_sending|floatformat:"0g"}}</span></h5>
            <h5 style="font-size: medium;">Total: <span id="total">${{total|floatformat:"0g"}}</span></h5>
        </div>
        <form id="payment-form" method="post">
            {% csrf_token %}
            <input type="hidden" id="value" name="value" value="{{total}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{form.is_pickup.label_tag}}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="{{form.is_pickup.id_for_label}}" name="{{form.is_pickup.name}}" onchange="tooglePickup(this, '{% url 'update-order' %}', event)" autocomplete="off" {% if form.is_pickup.value %} checked {% endif %}>
                            <label class="form-check-label" for="{{form.is_pickup.id_for_label}}">Sí, es recogida</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Dirección:</label>
                        {{form.address}}
                    </div>
                    {% if form.address.errors %}
                        <div class="text-danger">{{form.address.errors}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="type_payment">Tipo de pago:</label>
                        <select class="form-control" id="type_payment" name="type_payment">
                            <option value="1">PSE</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date_schedule">Fecha programada:</label>
                        {{form.date_schedule}}
                        {% if form.date_schedule.errors %}
                            <div class="text-danger">{{form.date_schedule.errors}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 d-flex justify-content-end">
                    <button class="btn btn-success" type="submit" form="payment-form">REALIZAR PAGO</button>
                </div>
                <script type="text/javascript"
                    src="https://checkout.epayco.co/checkout.js"
                    class="epayco-button"
                    data-epayco-key="1c3b4bd0abef12521729ec5b4ca03f87bda2ae58"
                    data-epayco-amount="90000"
                    data-epayco-name="Pago de ramos"
                    data-epayco-description="Pago de ramos"
                    data-epayco-currency="cop"
                    data-epayco-country="co"
                    data-epayco-test="true"
                    data-epayco-external="false"
                    data-epayco-response="https://{{request.META.HTTP_HOST}}">
                </script>
            </div>
        </form>
    </div>
    <script src={% static 'js/order.js' %}></script>
{% endblock %}