{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container py-5">
        <div class="d-flex align-items-end" style="flex-direction: column;">
            <h5 style="font-size: small;">Subtotal: <span id="subtotal">${{subtotal|floatformat:"0g"}}</span></h5>
            <h5 style="font-size: small;">Descuentos: <span id="discount">${{discount|floatformat:"0g"}}</span></h5>
            <h5 style="font-size: small;">Envio: <span id="price_sending">${{price_sending|floatformat:"0g"}}</span></h5>
            <h5 style="font-size: medium;">Total: <span id="total">${{total|floatformat:"0g"}}</span></h5>
        </div>
        <form id="payment-form" method="post">
            {% csrf_token %}
            <input type="hidden" id="value" name="value" value="{{total}}">
            <input type="hidden" name="ref_order" value="{{ request.GET.ref_order }}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bank">Banco</label>
                        <select class="form-control" id="bank" name="bank">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="typePerson">Tipo de persona</label>
                        <select class="form-control" id="typePerson" name="typePerson">
                            <option value="1">Natural</option>
                            <option value="2">Juridica</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="docType">Tipo de documento</label>
                        <select class="form-control" id="docType" name="docType">
                            <option value="CC">CC</option>
                            <option value="NIT">NIT</option>
                            <option value="CE">Cédula de Extranjería</option>
                            <option value="PPN">Pasaporte</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Número de documento:</label>
                        {{form.num_document}}
                    </div>
                    {% if form.num_document.errors %}
                        <div class="text-danger">{{form.num_document.errors}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        {{form.first_name}}
                    </div>
                    {% if form.first_name.errors %}
                        <div class="text-danger">{{form.first_name.errors}}</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Apellido</label>
                        {{form.last_name}}
                    </div>
                    {% if form.last_name.errors %}
                        <div class="text-danger">{{form.last_name.errors}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Correo electrónico</label>
                        {{form.email}}
                    </div>
                    {% if form.email.errors %}
                        <div class="text-danger">{{form.email.errors}}</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Dirección:</label>
                        {{form.address}}
                    </div>
                    {% if form.address.errors %}
                        <div class="text-danger">{{form.address.errors}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Teléfono celular</label>
                        {{form.cellphone}}
                    </div>
                    {% if form.cellphone.errors %}
                        <div class="text-danger">{{form.cellphone.errors}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 d-flex justify-content-end">
                    <button class="btn btn-success" type="submit" form="payment-form">REALIZAR PAGO</button>
                </div>
            </div>
        </form>
    </div>
    <script src={% static 'js/payment.js' %}></script>
{% endblock %}